<header>

    <nav>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="links">
            <ul>
                <li><a href="/">Vakantiefilter</a></li>
                <li><a href="#">Zon</a></li>
                <li><a href="#">Winter</a></li>
                <li><a href="#">Last minutes</a></li>
                <li><a href="contact">Klantenservice</a></li>
                <li><a href="#">Profiel</a></li>
                <li><a href="mijnlijst">Mijn lijst</a></li>
            </ul>
        </div>
    </nav>

</header>