<!DOCTYPE html>
<html lang="en">

<%- include('includes/head'); -%>

<body>
    <%- include('includes/header'); -%>
    <main>
        <h1>Contact hier maar ff mien jong</h1>
    </main>
</body>
<script src="/scripts/script.js"></script>

</html>