<!DOCTYPE html>
<html lang="en">

<%- include('includes/head'); -%>

<body>
    <%- include('includes/header'); -%>

    <main>

        <section>
            <div class="container">
                <input id="search" class="search" type="text" placeholder="Zoek een land" />

                <div class="dropdown" id="filter">
                    Kies een regio
                    <ul>
                        <li>All</li>
                        <li>Africa</li>
                        <li>Americas</li>
                        <li>Asia</li>
                        <li>Europe</li>
                        <li>Oceania</li>
                    </ul>
                </div>
                <div class="dropdown" id="filter2">
                    Kies een taal
                    <ul>
                        <li>All</li>
                        <li>Albanian</li>
                        <li>Arabic</li>
                        <li>Armenian</li>
                        <li>Bulgarian</li>
                        <li>Catalan</li>
                        <li>Czech</li>
                        <li>Dutch</li>
                        <li>English</li>
                        <li>French</li>
                        <li>German</li>
                        <li>Japanese</li>
                        <li>Pashto</li>
                        <li>Portuguese</li>
                        <li>Spanish</li>
                        <li>Swedish</li>
                        <li>Vietnamese</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <div class="container countries" id="countries">
                <h2>Moment geduld aub...</h2>
            </div>
        </section>





    </main>
    <script src="/scripts/script.js"></script>
</body>

</html>