<!DOCTYPE html>
<html lang="en">

<%- include('includes/head'); -%>

<body>
    <%- include('includes/header'); -%>

    <main>
        <form action="">

            <h2>Vakantieplanner</h2>

            <div>
                <label for="voornaam">Voornaam</label>
                <input type="text" id="voornaam" name="voornaam" required>
            </div>

            <div>
                <label for="tussenvoegsel">Achternaam</label>
                <input type="text" id="achternaam" name="achternaam">
            </div>

            <div>
                <label for="telefoon">Telefoonnummer</label>
                <input type="tel" id="telefoon" name="telefoon" required>
            </div>

            <div>
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div>
                <label for="landen">Favoriete landen:</label>
                <select id="landen" name="landen">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select>
            </div>

            <div>
                <button>Zoek</button>
            </div>

        </form>
    </main>
    <script src="index.js"></script>
</body>

</html>