*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --main-color: black;
    --secondary-color: #47A638;
    --hightlight-color: rgb(112, 112, 248);
    --tekst-color: black;
    --background-color: white;
    --background-highlight-color: #ffffff;


    --shadow-color: #2F4F4F33;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(147, 206, 255);
    font-family: 'Saira', sans-serif;
    color: var(--main-color);

}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    padding-left: 3em;
    padding-right: 5em;
    z-index: 1;
}

/*formulier die ik eerst had gebruikt ipv filter knoppen*/
/*
@media (max-width: 376px) {
    form {
        max-width: 20em;
        background-color: rgb(147, 206, 255);
        border-radius: 5px;
    }
}

form {
    background-color: rgb(147, 206, 255);
    border-radius: 5px;
    float: right;
    margin-left: 100px;
}

form h2 {
    display: flex;
    justify-content: center;
}

input,
button,
textarea {
    margin: 1em;
    padding: .4em;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 3px lightgray;
}

input[type="radio"] {
    box-shadow: none;
}

input[type="text"] {
    margin: 1em;
    margin-top: 0.5em;
    font-family: 'Fjalla One',
        sans-serif;
    color: black;
}

input[type="tel"] {
    margin: 1em;
    margin-top: 0.5em;
    font-family: 'Fjalla One',
        sans-serif;
    color: black;
}

input[type="email"] {
    margin: 1em;
    margin-top: 0.5em;
    font-family: 'Fjalla One',
        sans-serif;
    color: black;
}

textarea {
    margin: 1em;
    margin-top: 0.5em;
    font-family: 'Fjalla One',
        sans-serif;
    color: black;

}

button {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    border: 0;
    padding: .7em;
    transition: .3s;

}

button:active {
    transform: scale(1.01);
}

button:hover {
    background-color: black;
    color: white;

}

fieldset {
    border: 0;
    margin: 1em;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

form h1 {
    color: black;
    font-size: 40pt;
    font-family: 'Fjalla One',
        sans-serif;
    margin: 0.5em;
}

form h2 {
    margin: 1em;
    color: black;
    font-family: 'Fjalla One',
        sans-serif;
    font-size: 20pt;
}

label {
    margin: 1em;
    margin-top: 0.5em;
    font-family: 'Fjalla One',
        sans-serif;
    color: black;
    text-align: center;
}

legend {
    margin: 1em;
    margin-top: 0.5em;
    font-family: 'Fjalla One',
        sans-serif;
    color: black;

}*/

/******************/
/* navigatie */
/******************/

header nav {

    flex-grow: 1;
    font-weight: bold;

}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1px;
    align-items: center;
}

header nav li {
    flex-grow: 1;
    min-width: 6em;
}

header nav a {
    text-decoration: none;
    outline: none;
    color: white;
    display: block;
    text-align: center;
    line-height: 3.5em;
    text-transform: uppercase;
}

header nav a:hover {

    color: var(--hightlight-color);
}

header nav a:focus {
    text-decoration: underline;
}

header nav li:last-of-type a {
    background-color: var(--secondary-color);
    text-decoration: none;
    outline: none;
    color: white;
    display: block;
    text-align: center;
    line-height: 3.5em;
    text-transform: uppercase;
}

header nav li:last-of-type a:hover {
    background-color: rgb(172, 255, 172);
    color: var(--hightlight-color);
}

header nav li:last-of-type a:focus {
    text-decoration: underline;
}

/******************/
/* HAMBURGERMENU */
/******************/

.toggle-button {
    position: fixed;
    top: .75rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 32px;
    background-color: var(--hightlight-color);
    z-index: 1;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/******************/
/* HAMBURGERMENU code wanneer die verandert
Bron: https: //www.youtube.com/watch?v=At4B7A4GOPg */
/******************/

@media (max-width: 1155px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--main-color);
        position: absolute;
        right: 0;
    }

    .toggle-button {
        display: flex;
        border: 2px solid var(--hightlight-color);
    }

    .links.active {
        display: block;
    }

    .links {
        display: none;
        width: 100%;
    }

    .links ul {
        width: 100%;
        flex-direction: column;
    }

    .links ul li {
        text-align: left;
        border-bottom: 1px solid var(--hightlight-color);
    }

    .links ul li a {
        padding: .5rem 1rem;
    }


}

main p {
    padding: 0 10px;
}

#samenvatting {
    display: flex;
    flex-direction: column;
}

/******************/
/* De gerenderde landen */
/******************/
img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    max-width: 1440px;
    padding: 30px;
    position: relative;
}

h1 {
    margin: 0;
}


/* Input styling Florin Pop */
.search {
    background-color: white;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    color: inherit;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    padding: 20px;
    min-width: 300px;
}

/* Dropdown styling */
.dropdown {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-size: 14px;
    padding: 20px;
    margin: 10px;
    position: relative;
}

.dropdown ul {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    display: none;
    padding: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    width: 100%;
    z-index: 99;
}

.dropdown.open ul {
    display: block;
}

.dropdown ul li {
    margin: 10px 0;
}

/* landen styling van bron Florin Pop*/
.card {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    overflow: hidden;
    margin: 40px;
    max-width: 100%;
    width: 300px;
}

.card img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.card-body {
    padding: 30px;
}

.card-body h3 {
    margin-top: 0;
}

.container.countries {
    margin-top: -40px;
    justify-content: center;
}


/* styling voor de forms*/
input {
    border: none;

}

input[type="submit"] {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    border: 0;
    padding: .7em;
    transition: .3s;
}

input[type="submit"]:active {
    transform: scale(1.01);
}

input[type="submit"]:hover {
    background-color: black;
    color: white;
}

/*Mijnlijst*/
#mijnlijst main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    max-width: 1440px;
    padding: 30px;
    position: relative;
}

#mijnlijst section {
    background-color: white;
    width: 300px;
    padding: 10px;
    margin: 10px;

}

#mijnlijst h1 {
    margin-left: 40px;
    margin-top: 40px;
}